body {
    font-family: Roboto;
}

header {
    background-color: #7430cf;
    color: white;
    text-transform: uppercase;
    padding: 4% 0;
    text-align: center;
}

main {
    color: #7430cf;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    padding: 0 15%;
}

button {
    border-radius: 5%;
    border-color: #7430cf;
    width: 200px;
    height: 200px;
    margin-bottom: 10%;
    font-size: 4rem;
    border-width: thick;
    color: #7430cf;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}

.Box-1 {
    background-color: #ecf542;
}

.Box-2 {
    background-color: #42f5d1;
}

.Box-3 {
    background-color: #42f542;
}